In [1]:
import pandas as pd

## Анализ данных по организации

In [9]:
df = pd.read_csv('../data/raw_data/contract/2014/1.csv', sep='|', dtype='str')
df.shape

(5577, 52)

In [18]:
df['budget_name'].isnull().sum()

3061

In [17]:
df.isnull().sum()

number_contract                  0
adress_customer                  3
full_name_customer               0
short_name_customer            321
unique_site_code              5289
unique_site_id                 288
id_customer                   5420
inn_customer                    94
kpp_customer                    94
code_form_org                   94
okpo_code                       95
municipal_code                5470
budget_name                   3061
extrabudget_name              5577
budget_level                  3061
contract_status                  0
notice                           0
ikz_code                      5577
id_contract_electronic        5577
unique_number_plan            5577
method_determinig_supplier       0
date_summarizing                 0
date_posting                     0
grouds_single_supplier        2626
document_details                 0
info_support                     0
find_date_contract               0
date_performance                 0
date_contract_registry           0
date_update_registry             0
date_start_performance        5420
date_end_performance             0
contract_item                 5577
contract_price                   0
contract_price_nds            5577
prepayment_amount             5577
performance_security          5571
size_performance_quality      5577
warranty_period               5577
place_performance             5577
full_name_supplier               0
inn_supplier                     0
kpp_supplier                   643
code_okpo_supplier            5432
date_registration_supplier    5420
country_supplier                11
code_country_supplier           11
adress_supplier                  0
postal_adress_supplier        5577
contact                          0
status_supplier               5479
kbk                              2
dtype: int64

In [19]:
df.loc[df['budget_name'].isnull(), ['number_contract', 'budget_name']]

          number_contract budget_name
0     0358200041314000090         NaN
1     0358200049614000073         NaN
2     0358200049614000059         NaN
4     0358200041314000084         NaN
5     0358100006214000068         NaN
...                   ...         ...
5569  0317300084614000023         NaN
5572  0317300254614000105         NaN
5574  0317300256414000147         NaN
5575  0317200045514000042         NaN
5576  0317300256414000149         NaN

[3061 rows x 2 columns]